@keyframes anima1 {
	from {
		margin-left: 0%;
	}
	to {
		margin-left: 95%;
	}
}

#exercise-1 {
	animation-name: anima1;
	animation-delay: 1s;
	animation-duration: 3s;
}

#exercise-2 {
	animation-name: anima1;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

